<div class="bg-primary-grey-900 h-[52px] rounded-t-md">
  <div class="h-full">
    <ul class="flex items-center justify-between h-full mx-5">
      <li class="bg-white h-[44px] w-[70px] pt-2 pb-3 rounded-t-md self-end">
        <a
          routerLink="overview"
          routerLinkActive="active"
          class="flex items-center justify-center"
        >
          <svg-icon src="assets/images/icon-nav-overview.svg"></svg-icon>
        </a>
      </li>
      <li>
        <a routerLink="transactions" routerLinkActive="active">
          <svg-icon src="assets/images/icon-nav-transactions.svg"></svg-icon>
        </a>
      </li>
      <li>
        <a routerLink="budgets" routerLinkActive="active">
          <svg-icon src="assets/images/icon-nav-budgets.svg"></svg-icon>
        </a>
      </li>
      <li>
        <a routerLink="pots" routerLinkActive="active">
          <svg-icon src="assets/images/icon-nav-pots.svg"></svg-icon>
        </a>
      </li>
      <li>
        <a routerLink="recurring" routerLinkActive="active">
          <svg-icon src="assets/images/icon-nav-recurring-bills.svg"></svg-icon>
        </a>
      </li>
    </ul>
  </div>
</div>
